html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: darkgray;
    background-color: lightyellow;
    border: 2px solid red;
}

header{
    text-align: center;
}

img{
    width: 500px;
    height: auto;
}

.page-title{
    font-size: 24px;
    color: blue;
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
    font-style: normal;
}

.intro{
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.intro p{
    font-size: 16px;
}

.title{
    font-size: 20px;
    color: blue;
    text-decoration: underline;
    text-align: center;
}

li, a, p{
    font-size: 16px;
    color: black;
}

footer address{
    text-align: center;
    color: red;
}

address a{
    color: green;
}

footer p{
    text-align: center;
    color: red;
}